@import url('https://fonts.googleapis.com/css2?family=Tomorrow:ital,wght@1,500&display=swap');

.App {
  background-color: black;
  text-align: center;
}

.nav{ /* div padre*/
  display: flex;
  width: 100%;
  background-color: black;
  color: white;
  /* position: fixed;
  z-index: 1; */
  align-items: center;
  justify-content: center;
  font-family: 'Tomorrow', sans-serif;
}

/* Item.js  */

.webDiv{
  margin: 30px;
  width: auto;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 15px;
  box-shadow: -1px 16px 35px -1px rgba(0,0,0,0.26);
  background-color: black;
  animation-duration: 0.5s;
  animation-name: animate-pop;
  animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
}

.img{

}

.toWeb{

}

/* ItemListContainer.js */

.container{
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
}

.Pfilter{
  color: white;
  background-color:white;
  border-color: black;
  border-radius: 10px;
  width: auto;
  height: auto;
  margin-right: 2vw;
}

.Sfilter{
  color: white;
  background-color: white;
  border-color: black;
  border-radius: 10px;
  width: auto;
  height: auto;
  margin-right: 2vw;
}

.Rfilter{
  color: white;
  background-color: white;
  border-color: black;
  border-radius: 10px;
  width: auto;
  height: auto;
  margin-right: 2vw;
}

.linkPfilter{
  color: black;
  text-decoration: none;
  font-weight: 800;
}

.linkRfilter{
  color: black;
  text-decoration: none;
  font-weight: 800;
}

.linkSfilter{
  color: black;
  text-decoration: none;
  font-weight: 800;
}
